<div  id="demo">
</div>
<script>
let a = document.getElementById("shopify-section-announcement-bar");

let announceBar = document.getElementById("demo");
const url = `https://announce-bar-bcnd.herokuapp.com/get-script?shop=${window.location.hostname}`
fetch(url)
  .then(response => response.json())
  .then(data => {
      if(data.lenght===0){
        return announceBar.style.display="none"
      }else{
         announceBar.innerHTML = data[0].content;
       announceBar.style.cssText=`
        position:${data[0].position}; 
        top: 0; 
        left: 0 ; 
        height:40px;
        width:100%;
        background:${data[0].background};
        color:${data[0].fontColor};
        z-index:1000;
        font-size:${data[0].fontSize}px;
        font-family:sans-serif;
        display:flex;
        align-items:center;
        justify-content:center`
      }
  });
</script>

{% schema %}
  {
    "name": "App Embed",
    "target": "head",
    "settings": []
  }
{% endschema %}